<% provide(:title, 'Contact') %>
<h1 xmlns="http://www.w3.org/1999/html">Contact</h1>
<p>
  Contact the Ruby on Rails Tutorial about the sample app at the
  <a href="http://railstutorial.org/#contact page">contact page</a>
</p>